<div class="col-md-12">
  <div class="group">
    <%= link_to("更新文章", edit_official_article_path(@official_article), class: "btn btn-primary pull-right")%>
  </div>
  <h2><%= @official_article.title %></h2>
  <p> 作者：<%= @official_article.author %> 文章来源：<%= @official_article.source %></p>
  <p><%= @official_article.content %></p>
</div>