<div class="container">
  <div class="row">

    <div class="article-show">

      <div class="col-md-8 article-show-box">

        <!-- 标题 -->
        <div class="article-title">
          <h3><%= @official_article.title %></h3>
        </div>

        <!-- 作者、发布时间 -->
        <div class="article-author">
          
          <span> <%= @official_article.user.display_name %></span> · 
          于<span> <%= @official_article.created_at.strftime("%Y-%m-%d %H:%M:%S") %></span> · 
          发布在 · <span> <%= @official_article.article_category.try(:name) %></span>栏目 ·
          <span> <%= t(@official_article.status, :scope => "official_article.status") %></span>
          <hr>
        </div>
        
        <!-- 摘要 -->
        <div class="article-summary">
          <p>
            <blockquote>
                <%= simple_format(@official_article.summary) %>
            </blockquote>
          </p>
        </div>

        <!-- 主图 -->
        <% if @official_article.image.present? %>
          <div class="article-image">
            <%= image_tag(@official_article.image.articleimg.url, class: "img-rounded img-responsive center-block") %>
          </div>
        <% end %>
        <hr>

        <!-- 内容 -->
        <div class="article-content">
          <%= simple_format(@official_article.content) %>
        </div>

        <!-- 文章收藏功能 -->
        <div class="article-collection text-center">
          <% if current_user && current_user.is_fan_of?(@official_article) %>
            <div class="article-collection-btn">
              <%= link_to unlike_official_article_path(@official_article), method: :post, class: "btn btn-lg btn-danger" do %>
              <i class="fa fa-thumbs-up fa-1x">  赞  (<span><%= @official_article.fans.count %></span>) </i><% end %>
            </div>
          <% else %>
            <div class="article-collection-btn">
              <%= link_to like_official_article_path(@official_article), method: :post, class: "btn btn-lg btn-default" do %>
              <i class="fa fa-thumbs-o-up fa-1x">  赞  (<span><%= @official_article.fans.count %></span>) </i><% end %>
            </div>
          <% end %>
        </div>
        <hr>

        <!-- 文章评论 -->
        <div class="article-review-box">
          <%= simple_form_for ([@official_article, @article_comment]) do |f| %>
            <div class="">
              <%= f.input :content, :label => "发表评论" %>
            </div>
            <div class="">
              <%= f.submit "提交评论", class: "btn btn-sm btn-default ", data: {disable_with: "Submiting"} %>
            </div>
          <% end %>
          <hr>
          <% if @article_comments.blank? %>
            <p class="text-center">这篇文章还没有人评论，来为ta添加一个吧！</p>
          <% else %>

          <div class="article-reviews ">
            <% @article_comments.each do |article_comment| %>
              <div class="row">

                <!-- 评论者头像 -->
                <div class="col-sm-1 col-xs-2">
                  <div class="avatar"><img src= "<%= render_user_avatar(article_comment.user, 50) %>" style="width:50px; hight:50px; border-radius:25px;"></div>
                </div>

                <!-- 评论内容 -->
                <div class="col-sm-11 ccol-xs-10">
                  <div class="article-review-username">
                    <div>
                      <span><%= article_comment.user.display_name %></span> ·  
                      <span><%= article_comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %></span>
                      <span class="pull-right">
                        <% if (current_user && current_user == article_comment.user) || can_editor? %>
                        <%= link_to("Delete", official_article_article_comment_path(@official_article,article_comment), 
                                  method: :delete, data: { confirm: "确定删除该评论?" } )%> 
                        <% end %>
                      </span>
                    </div>  
                  </div>

                  <div>
                    <%= simple_format(article_comment.content) %>
                  </div>

                </div>

              </div>
              <hr>
            <% end %>
          </div>

          <% end %>

        </div>

      </div>

    <%= render "sidebar_for_article_show.html.erb" %>

    </div>

  </div>
</div>