<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">活动管理</h3>
  </div>
  <div class="panel-body">
    <div class="group">
      <%= link_to("新增活动", new_admin_meetup_group_path, class: "btn btn-primary pull-right") %>
    </div>
    
    <p>操作说明：mark</p>
    <hr>
      
    <!-- Table -->
    <div id="admin_courses">
      <%= form_tag bulk_update_admin_meetup_groups_path, :class => "form-inline" do %>
      
        <table class="table table-hover">
          <thead>
            <tr>
              <th><%= check_box_tag "全选", "1", false, :id => "toggle_all" %></th>
              <td>#</td>

               <th>活动名称</th>
               <th>城市</th>
      
               <th>联系人</th>
            </tr>
          </thead>
          <tbody>
            <% @meetup_groups.each do |meetup_group| %>
              <tr>
                <td>
                  <%= check_box_tag "ids[]", meetup_group.id %>
                </td>
                <td><%= meetup_group.id %></td>
                <td>
                  <%= t(meetup_group.status, :scope => "meetup_group.status") %>·
                  <%= link_to(meetup_group.title, meetup_group_path(meetup_group)) %>
                </td>          
                <td><%= meetup_group.city %></td>
                <td><%= meetup_group.user.display_name %></td>
                <td>   
                  <%= link_to "", edit_admin_meetup_group_path(meetup_group), class: "fa fa-pencil" %>
                  <%= link_to "", admin_meetup_group_path(meetup_group), 'data-confirm' => '确定删除?', method: :delete, class: "fa fa-trash" %>
                                               
                </td>
              </tr>
            <% end %>
          </tbody>
        </table><!-- /Table -->
        <p><%= submit_tag "批次删除", :class => "btn btn-danger", :data => { :confirm => "Are you sure?" } %></p>
      <% end %>
      <div class="text-center">
        <%= will_paginate @meetup_groups %>
      </div>
    </div><!-- /admin_courses -->
  </div><!-- /panel-body -->
</div>

<script>
  // 这个 javascript 会绑事件在 #toggle_all 核选方块上，来做全选效果
  $("#toggle_all").click(function(){
    if ( $(this).prop("checked") ) {
      $("input[name='ids[]']").prop("checked", true);
    } else {
      $("input[name='ids[]']").prop("checked", false);
    }
  })
</script>