<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">官方文章管理</h3>
  </div>
  <div class="panel-body">
    <div class="group">
      <%= link_to("New article", new_admin_official_article_path, class: "btn btn-primary pull-right") %>
    </div>
    <p>操作说明：mark</p>
    <hr>
    <div class="admin_artcle">
      <%= form_tag bulk_update_admin_official_articles_path, :class => "form-inline" do %>
        <table class="table table-hover">
          <thead>
            <tr>
              <th><%= check_box_tag "全选", "1", false, :id => "toggle_all" %></th>
              <td>标题</td>
              <td>作者</td>
              <td>状态</td>
              <td>来源</td>
              <td>分类</td>
              <td>操作</td>
            </tr>
          </thead>
          <tbody>
            <% @official_articles.each do |official_article| %>
              <tr>
                <td>
                  <%= check_box_tag "ids[]", official_article.id %>
                </td>
                <td><%= link_to(official_article.title, admin_official_article_path(official_article)) %></td>
                <td><%= official_article.author %></td>
                <td><%= t(official_article.status, :scope => "official_article.status") %></td>
                <td><%= official_article.source %></td>
                <td><%=official_article.article_category.try(:name) %></td>
                <td>
                  <%= link_to '', edit_admin_official_article_path(official_article), class: "fa fa-pencil" %>
                  <%= link_to '', admin_official_article_path(official_article), 'data-confirm' => 'Are you sure?' , method: :delete, class: "fa fa-trash" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <p>
        <%= select_tag :official_article_status, options_for_select( OfficialArticle::STATUS.map{ |s| [t(s, :scope => + "official_article.status"), s] }), :class => "form-control" %>

        <%= submit_tag t(:bulk_update), :class => "btn btn-primary" %>
        <%= submit_tag t(:bulk_delete), :class => "btn btn-danger", :data => { :confirm => "Are you + sure?" } %>
        </p>
      <% end %>
      <div class="text-center">
        <%= will_paginate @official_articles %>
      </div>
    </div><!-- /admin_artcle -->
  </div><!-- /panel-body -->
</div>

<script>
  // 这个 javascript 会绑事件在 #toggle_all 核选方块上，来做全选效果
  $("#toggle_all").click(function(){
    if ( $(this).prop("checked") ) {
      $("input[name='ids[]']").prop("checked", true);
    } else {
      $("input[name='ids[]']").prop("checked", false);
    }
  })
</script>
