<div class="opts">

  <%= link_to raw("<i class='fa fa-angle-double-up'></i> 取消"), "#", method: :post, remote: true %>

  <%= link_to raw("<i class='fa fa-angle-double-up'></i> 置顶"), "#", method: :post, remote: true %>


    <% if !@topic.excellent? %>
    <%= link_to raw("<i class='fa fa-diamond'></i> 加精"), action_topic_path(@topic.id, type: 'excellent'), title: "设为精华帖" , method: "post", remote: true %>
    <% end %>
    <%= link_to raw("<i class='fa fa-ban'></i> 屏蔽"), "#", remote: true, title: "屏蔽此贴，移动到 NoPoint 节点" %>
  
  <span class="pull-right opts">

    <%= link_to "", edit_topic_path(@topic), class: "fa fa-pencil", title: "修改本帖" %>
      
  </span>
</div>
