<% if current_user && current_user == @topic.user %>
<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to("更新该话题", edit_topic_path(@topic), class: "btn btn-primary btn-block")%>
  </div>
</div>
<% end %>

<div class="panel panel-default">
  <div class="panel-body">
    <a href="#" class="btn btn-block btn-sm btn-move-page" data-type="top"><i class="fa fa-arrow-up"></i></a>

    <br/>

    <div class="row text-center">

      <% if current_user && current_user.is_fan_of_topic?(@topic) %>
        <%= link_to unlike_topic_path(@topic), method: :post, class: "btn favorite-btn" do %>
          <i class="fa fa-heart fa-lg"></i>
        <% end %>   
      <% else %>    
        <%= link_to like_topic_path(@topic), method: :post, class: "btn  favorite-btn" do %>
          <i class="fa fa-heart-o fa-lg"></i>
        <% end %>        
      <% end %>             
     <p><span><%= @topic.fans.count %></span> 个赞</p>

    </div>
  
    <hr/>
    <div class="group share text-center">
      <%= social_share_button_tag(@topic.title) %><!-- 社交分享 -->
    </div>
    <hr/>

    <div class="total text-center">
      共收到 <b><%= @topic.answers.count %></b> 条回复
    </div>

<!--
      打赏作者 -->

    <hr />

    <!-- <% if current_user  %>
      <div class="group opts">

        <% if current_user.is_editor? %>
          <div style="margin-bottom: 8px">

            <%= render "buttons" %>
          </div>
        <% end %>
        <hr />
        <% if current_user == @topic.user || current_user.is_editor? %>
        <div>
            参考rubychina   关闭话题、重新修改、开启话题。
        </div>
        <% end %>
      </div>
    <% end %> -->

    <a href="#" class="btn btn-block btn-move-page" data-type="bottom"><i class="fa fa-arrow-down"></i></a>
  </div>
</div>


<!-- <div class="panel panel-default">
  <div class="panel-heading">相关话题</div>
  <div class="panel-body">
    <p>列出本小组的最新话题（作者名称）</p>
  </div>
</div> -->



<%= render "common/sidebar_box_tips" %>


<div class="panel panel-default">
  <div class="panel-heading">广告位</div>
  <div class="panel-body ads-image-css">
    <img src= "https://ww4.sinaimg.cn/large/006tKfTcly1fnt6b3yncgj30ik0t8dhw.jpg" >
  </div>
</div>
