<div class="col-md-12">
  <div class="group">
    <%= link_to("提问题", new_topic_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>Title</td>
        <td>问题描述</td>
        <td>node</td>
      </tr>
    </thead>
    <tbody>
      <% @topics.each do |topic| %>
        <tr>
          <td>#</td>
          <td><%= link_to(topic.title, topic_path(topic)) %></td>
          <td><%= sanitize topic.content %></td>
          <td><%= topic.node.try(:name) %></td>
          <td>
              <%= link_to("Edit", edit_topic_path(topic), class: "btn btn-sm btn-default")%>
              <%= link_to("Delete", topic_path(topic),    class: "btn btn-sm btn-default", 
                          method: :delete, data: { confirm: "Are you sure?" } )%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>