<div class="row search-for-topic search-secticon">
  <%= render "topics/search_bar" %>
</div>

<div class="container">
  <%= render "common/flashes" %>
</div>

<div class="container">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body item-list">
        <% @topics.each do |topic| %>

          <div class="topic media topic-<%= topic.id %>">
            <div class="avatar media-left">
              <img src= "<%= render_user_avatar(topic.user, 50) %>" style="width:50px; height:50px; border-radius: 50%;">
            </div>
            <div class="infos media-body">
              <div class="title media-heading">

                  <%= topic.node.name %>
                  <%= link_to(topic.title, topic_path(topic)) %>


                  <i class="fa fa-angle-double-up" title="置顶"></i>

              </div>
              <div class="info">
                <span class="name">
                  <%= topic.user.display_name %>
                </span> •
                发布于
                <span><%= time_tag(topic.created_at) %></span>
              </div>
            </div>
            <div class="count media-right">
              <% if topic.answers.count > 0 %>
              <span class="badge"><%= topic.answers.count %></span>

              <% end %>
            </div>
          </div><!-- /上述内容应该可以做出partial -->

          <hr/>
        <% end %>

        <div class="text-center">
          <%= will_paginate @topics, renderer: BootstrapPagination::Rails, :previous_label => t('上一页'), :next_label => t('下一页') %>
        </div>

      </div><!-- /panel-body -->
    </div>
  </div>

  <div class="sidebar col-md-3">
    <%= render "sidebar_for_topic_index" %>
  </div>
</div>
