<div class="row search-for-topic search-secticon">
  <%= render "topics/search_bar" %>
</div>

<div class="container">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body item-list">
        
        <% if @query_string.blank? %>
            <h4 class="search-info-title">搜索信息不能为空，请输入关键字搜索</h4>
        <% elsif @topics.blank? %>
            <br>
            <h4 class="search-info-title">亲，没有搜索到相关话题哦，要不换个关键词试试？</h4>
        <% else %>
            <h4 class="search-info-title"> 有关"<%= @query_string %>"的话题 </h4>
            <hr>

            <div class="search-result">
              <% @topics.each do |topic| %>

                <div class="topic media topic-<%= topic.id %>">
                  <div class="avatar media-left">
                    <img src= "<%= render_user_avatar(topic.user, 180) %>" style="width:50px; hight:50px; border-radius:50%;">
                  </div>
                  <div class="infos media-body">
                    <div class="title media-heading">

                        <%= topic.node.name %>
                        <%= link_to(render_highlight_content(topic,@query_string), topic_path(topic)) %>


                        <i class="fa fa-angle-double-up" title="置顶"></i>


                    </div>
                    <div class="info">
                      <span class="name">
                        <%= topic.user.display_name %>
                      </span> •
                      最后由 admin 回复于
                      <span><%= time_tag(topic.created_at) %></span>
                    </div>
                  </div>
                  <div class="count media-right">
                    <% if topic.answers.count > 0 %>
                    <span class="badge"><%= topic.answers.count %></span>

                    <% end %>
                  </div>
                </div><!-- /上述内容应该可以做出partial -->

                <hr/>
              <% end %>
            </div>
          <% end %>
        <div class="text-center">
          <%= will_paginate @topics, renderer: BootstrapPagination::Rails, :previous_label => t('上一页'), :next_label => t('下一页') %>
        </div>

      </div><!-- /panel-body -->
    </div>
  </div>

  <div class="sidebar col-md-3">
    <%= render "sidebar_for_topic_index" %>
  </div>
</div>