<div class="container">
  <%= render "common/flashes" %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-11">
              <h1 class="panel-title"><strong><%= link_to(@topic.node.name, node_topics_path(@node) ) %></strong> · <%= @topic.title %></h1>
            </div>

            <div class="col-md-1">
              <div class="avatar pull-right"><img src= "<%= render_user_avatar(@topic.user, 50) %>" style="width:50px; height:50px; border-radius: 50%;" ></div>
            </div>
            
          </div>
          <p>本文由 <%= @topic.user.display_name %> · 发布于<%= time_tag(@topic.created_at) %> · 最后由 admin 回复于 1 天前 · 12次阅读</p>
        </div>

        <div class="panel-body topic-content">
          <div class="col-md-12 ">

            <%= sanitize @topic.content %>

          </div>
        </div>

        <div class="panel-footer">共 <span><%= @topic.fans.count %></span> 个赞 / <span><%= @topic.fans.count %></span> 人收藏</div>

      </div>
    
    
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><%= @topic.answers.count %> 个回复</h4>
        </div>
        <div class="panel-body">
          <div >
            <%= render @topic.answers %>
          </div>
        </div>
      </div>

      <%= render "answers/form"%>
      <%= render 'related_topics' %>
    </div>
  
    <div class="sidebar col-md-3">
      <%= render "sidebar_for_topic_show" %>
    </div>
    
  </div>    
</div>

