<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">修改记录</h3>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
    <tr>
      <td>ID</td>
      <td>Model</td>
      <td>Model ID</td>
      <td>事件</td>
      <td>操作者</td>
      <td>撤销操作</td>
    </tr>
    <% @versions.each do |version| %>
      <tr>
        <td><%= version.id %></td>
        <td><%= version.item_type %></td>
        <td><%= version.item_id %></td>
        <td><%= version.event %></td>
        <td><%= version.whodunnit && User.find(version.whodunnit).display_name %></td>
        <td>
          <% if version.event != 'create' %>
          <%= link_to "Undo", admin_version_undo_path(version), :data => { :confirm => "Are you sure?"}, :method => :post, class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </table>

    <div class="text-center">
      <%= will_paginate @versions %>
    </div>
  </div>  
</div>