<%= form_for [:admin,@job] do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :publisher %>
    <%= f.text_field :publisher, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :deadline %>
    <%= f.date_field :deadline, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :benefit %>
    <%= f.cktext_area :benefit, ckeditor: { language: 'zh-CN'} %>
  </div>

  <div class="form-group">
    <%= f.label :introduce %>
    <%= f.cktext_area :introduce, ckeditor: { language: 'zh-CN'} %>
  </div>

  <div class="form-group">
    <%= f.label :demand %>
    <%= f.cktext_area :demand, ckeditor: { language: 'zh-CN'} %>
  </div>

  <div class="form-group">
    <%= f.label :process %>
    <%= f.cktext_area :process, ckeditor: { language: 'zh-CN'} %>
  </div>
  
  <div class="form-group">
    <%= f.submit "Submit", :class => "btn btn-primary" %>
  </div>
<% end %>  