<%= simple_form_for @job do |f| %>

  <div class="form-group">
    <%= f.input :title, input_html: { class: "form-control"}, :label => "标题" %>
    <%= f.input :publisher, input_html: { class: "form-control"}, :label => "发布方" %>
    <%= f.input :city, input_html: { class: "form-control"}, :label => "工作地点" %>
    <%= f.input :benefit, as: :wysihtml5, :label => "福利" %>
    <%= f.input :introduce, as: :wysihtml5, :label => "公司介绍" %>
    <%= f.input :demand, as: :wysihtml5, :label => "要求" %>
    <%= f.input :process, as: :wysihtml5, :label => "申请流程" %>
  </div>

  <div class="form-group">
    <%= f.label :category %>
    <%= f.select :category, Job::CATEGORYS.map{ |x| [t(x, :scope => "job.category"), x] }, { :include_blank => true }, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :deadline %>
    <%= f.text_field :deadline, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submiting..." } %>
  </div>
<% end %>

<script>
  $("#job_deadline").datepicker({ format: "yyyy-mm-dd", language: "<%= I18n.locale %>" });
</script>
