<div class="row search-for-project search-secticon">
  <%= render "jobs/search_bar" %>
</div>

<div class="container">
  <%= render "common/flashes" %>
</div>

<div class="container">
  <div class="panel panel-default col-md-10 col-md-offset-1">

    <div class="panel-body">

      <div class="group">
        <div class="row">
          <div class="col-sm-2 col-lg-1 ">
            <div class="dropdown clearfix pull-left">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  排序
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
                  <li>
                    <%= link_to("全职工作", jobs_path(:order => "by_fulltime")) %>
                  </li>
                  <li>
                    <%= link_to("实习机会", jobs_path(:order => "by_internship")) %>
                  </li>
                  <li>
                    <%= link_to("截止时间", jobs_path(:order => "by_deadline")) %>
                  </li>
                  <li>
                    <%= link_to("最新发布", jobs_path ) %>
                  </li>
                </ul>
            </div>
          </div>
          <div class="col-sm-7 col-lg-9">

          </div>
          <div class="col-sm-3 col-lg-2">
            <%= link_to("发布招聘", new_job_path, class: "btn btn-success btn-sm") %>
          </div>
        </div>
      </div>

      <hr>
      <% if @query_string.blank? %>
          <h4 class="search-info-title">搜索信息不能为空，请输入关键字搜索</h4>
      <% elsif @jobs.blank? %>
          <br>
          <h4 class="search-info-title">亲，没有搜索到相关工作信息哦，要不换个关键词试试？</h4>
      <% else %>
          <h4 class="search-info-title"> 有关"<%= @query_string %>"的工作信息 </h4>
          <hr>
            <% @jobs.each do |job| %>
              <div class="job-item">
                <p><span><%= job.publisher %></span><span class="pull-right">更新于 <%= time_tag(job.updated_at) %></span></p>
                <h4><%= link_to(job.title, job_path(job)) %></h4>
                <p><i class="fa fa-street-view" aria-hidden="true"></i> <%= job.city %></p>
                <p><i class="fa fa-clock-o" aria-hidden="true"></i> <%= job.deadline %></p>
                <p><span class="label label-success"><%= t(job.category) %></span></p>
                <hr>
              </div>
            <% end %>
      <% end %>
      <div class="text-center">
        <%= will_paginate @jobs, renderer: BootstrapPagination::Rails, :previous_label => t('上一页'), :next_label => t('下一页') %>
      </div>
    </div>
  </div>
</div>
