<div class="container">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body job-show">
        <div class="col-md-12">
          <% if can_editor? %>
            <div class="group">
              <%= link_to("更新公告", edit_job_path(@job), class: "btn btn-default pull-right")%>
            </div>
          <% end %>
          <h3><%= @job.title %></h3>

          <i class="fa fa-street-view" aria-hidden="true"></i> <%= @job.city %>

          <br>
          <span class="label label-success"><%= t(@job.category, :scope => "job.category") %></span>
          <hr>
          最后更新时间：<%= time_tag(job.updated_at) %>
          <hr>
          <h4>发布方</h4>
          <strong><%= @job.publisher %></strong>
          <hr>
          <h4>福利</h4>
          <%= sanitize @job.try(:benefit) %>
          <hr>
          <h4>职位介绍</h4>
          <%= sanitize @job.introduce %>
          <hr>
          <h4>申请要求</h4>
          <%= sanitize @job.demand %>
          <hr>
          <h4>截止日期</h4>
          <%= @job.deadline %>
          <hr>
          <h4>申请流程</h4>
          <%= sanitize @job.process %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <%= render "sidebar_for_job_show.html.erb" %>
  </div>
</div>
