<%= form_for [:admin,@topic] do |f| %>


  <div class="form-group">
    <%= f.label "话题类别" %>
    <%= f.select :node_id, Node.all.map{ |c| [c.name, c.id] }, {}, :class => "form-control" %>
  </div>
  
  <div class="form-group">

    <%= f.label "标题"%>
    <%= f.text_field :title, class: "form-control", placeholder: "在这里填写标题" %>
  </div>

  <div class="form-group">
    <%= f.label "发布状态" %>
    <%= f.select :status, Topic::STATUS.map{ |s| [t(s, :scope => "topic.status"), s] }, {}, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "内容" %>
    <%= f.cktext_area :content, ckeditor: { language: 'zh-CN'}  %>
  </div>

  
  <div class="form-group">
    <%= f.submit "发布话题", class: "btn btn-primary", data: { disable_with: "Submiting..." } %>
    <div class="pull-right"><a href="#" target="_blank">点击右下角拉升文本框</a><i class="fa fa-arrows-v" aria-hidden="true"></i></div>
    <div class="pull-right "><a href="#" target="_blank"><i class="fa fa-tip"></i> 排版说明</a>&nbsp; · &nbsp;</div>
  </div>
<% end %>