
<div class="panel panel-default">
  <div class="panel-heading">话题一级分类管理</div>
  <div class="panel-body">
    <div class="toolbar">
      <%= link_to '新建话题一级类别', new_admin_section_path, class: "btn btn-success pull-right" %>
    </div>
    <p>mark</p>
    <hr>

    <table class="table table-bordered table-striped table-condensed">
      <tr class="head text-center">
        <td class="first">ID</td>
        <td>名称</td>
        <td>排序</td>
        <td>管理操作</td>
      </tr>

      <% @sections.each do |section| %>
        <tr class="text-center">

          <td class="first"><%= section.id %></td>
          <td><%= section.name %></td>
          <td><%= section.sort %></td>
          <td>
            
            <%= link_to '', edit_admin_section_path(section), class: "fa fa-pencil" %>
            <%= link_to '', admin_section_path(section), 'data-confirm' => '确定要删除吗?', method: :delete, class: "fa fa-trash" %>
        </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>