<div class="row"> 
  <div class="col-md-3">
    <% if group.logo.present? %>
      <%= link_to image_tag(group.logo.url(:medium)),group_path(group) %>
    <% end %>
  </div>
  <div class="col-md-9">
    <h4><%= group.title %></h4>
    <div class="row">
      组长：<%= group.user.display_name %>，成员数：<%= group.members.count %>
      主题：<%= group.posts.count %>
    </div>  
  </div>
</div> 
<hr/>