<% if current_user %>
  <div class="panel panel-default">
    <div class="panel-body">
      <!-- 头像 -->
      <div class="text-center">
        <div class="avatar-80">
          <div class="avatar-group-index">
            <img src= "<%= render_user_avatar(@current_user, 80) %>">
          </div>
        </div>
      </div>
      <!-- 用户名 -->
      <div class="article-username text-center">
        <%= @current_user.display_name %>
      </div>
      
      <!-- 简介 -->
      <div class="article-author-summary">
        <%= simple_format(@current_user.summary) %>
        
      </div>
      <hr>
      <!-- 我创建的小组 -->

      <!-- <div class="row my-group">
        <% @current_user.groups.each do |group| %>
          <div class="col-md-4">
            <% if group.logo.present? %>
              <%= link_to image_tag(group.logo.url(:thumb)), group_path(group), :target => "_blank" %>
            <% end %>  
            <%= link_to(group.title, group_path(group)) %>(<%= group.members.count %>)
          </div>
        <% end %>  
      </div> 
      
      <div class="row joined-group">
        <h5>爱逛的小组</h5>
        <hr>
        
        <% @joined_groups.each do |group| %>
          <div class="col-md-6">
            <button type="button" class="btn btn-default btn-block">
              <span class="text-left"><%= link_to(group.title, group_path(group)) %></span>
              <span class="badge text-right"><%= group.members.count %></span>
            </button>
          </div>
        <% end %> 
        <br>
        <br>
        <div class="row text-center">
          <%= link_to '查看更多', new_group_path, class: 'btn btn-default btn-sm' %>
        </div>
      </div>     -->
            
    </div>
  </div>
<% end %>


<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to t('申请创建小组'), new_group_path, class: 'btn btn-primary btn-block' %>  
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">小组分类</div>
  <div class="panel-body">
    该功能尚未完成，重构为2级分类
  </div>
</div>


<%= render "common/sidebar_box_tips" %>

<div class="panel panel-default">
  <div class="panel-heading">喜欢这个小组的人也喜欢去</div>
  <div class="panel-body">
    做个随机推荐 
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">统计信息</div>
  <ul class="list-group">
    <li class="list-group-item">社区会员: <%= User.count %> 人</li>
    <li class="list-group-item">小组数: <%= Group.count %> 个</li>
    <li class="list-group-item">帖子数: <%= Post.count %> 条</li>
  </ul>
</div>

<div class="panel panel-default">
  <div class="panel-heading">广告位</div>
  <div class="panel-body ads_image_css">
    <img src= "https://ww4.sinaimg.cn/large/006tKfTcly1fnt6b3yncgj30ik0t8dhw.jpg" >
  </div>
</div>