<div class="panel panel-default">
  <div class="panel-body">
    加上用户的头像等
    <%= link_to t('我的小组主页'), new_group_path, class: 'btn btn-primary btn-block' %>  
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">常去的小组</div>
  <div class="panel-body">
    用户常去的小组 
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to t('申请创建小组'), new_group_path, class: 'btn btn-primary btn-block' %>  
  </div>
</div>



<%= render "common/sidebar_box_tips" %>

<div class="panel panel-default">
  <div class="panel-heading">推荐的小组</div>
  <div class="panel-body">
    做个随机推荐 
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">统计信息</div>
  <ul class="list-group">
    <li class="list-group-item">社区会员: <%= User.count %> 人</li>
    <li class="list-group-item">小组数: <%= Group.count %> 个</li>
    <li class="list-group-item">帖子数: <%= Post.count %> 条</li>
  </ul>
</div>

<div class="panel panel-default">
  <div class="panel-heading">广告位</div>
  <div class="panel-body">
    可以放个广告 
  </div>
</div>