<div class="row search-for-topic search-secticon">
  <%= render "groups/search_bar" %>
</div>

<div class="container">
  <%= render "common/flashes" %>
</div>

<div class="container">
  <div class="col-md-9 group-index-box">

    <div class="row">
      <%= render :partial => "group_item", :collection => @groups, :as => :group %>
      <div class="text-center">
        <%= will_paginate @groups, renderer: BootstrapPagination::Rails, :previous_label => t('上一页'), :next_label => t('下一页') %>
      </div>
    </div>

    <br>

    <div class="panel panel-default">
      <div class="panel-heading">
        <%= link_to("最新动态", groups_path) %> |
        <%= link_to("热门帖子", groups_path(:order => "by_hot")) %>
      </div>
      <div class="panel-body">
        <% @posts.each do |post| %>
          <p>
            <%= link_to post.group.title, group_path(post.group) %> · <%= link_to post.title, group_post_path(post.group,post) %>  <span class="badge"><%= post.post_comments.count %></span>
            <span class="pull-right">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= post.user.display_name %> ·
              <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <%= time_tag(post.created_at) %>
            </span>
          </p>
        <% end %>

      </div><!-- /panel-body -->

    </div>
  </div>

  <div class="sidebar col-md-3">
    <%= render "sidebar_for_group_index" %>
  </div>
</div>
