
<div class="row search-for-topic search-secticon">
  <%= render "groups/search_bar" %>
</div>

<div class="container">
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-body">
        <% if @query_string.blank? %>
            <h4 class="search-info-title">搜索信息不能为空，请输入关键字搜索</h4>
        <% elsif @groups.blank? %>
            <br>
            <h4 class="search-info-title">亲，没有搜索到相关小组信息哦，要不换个关键词试试？</h4>
        <% else %>
            <h4 class="search-info-title"> 有关"<%= @query_string %>"的小组 </h4>
            <hr>
            <%= render :partial => "group_item", :collection => @groups, :as => :group %>
        <% end %>
        <% if @groups.present? %>
          <div class="text-center">
            <%= will_paginate @groups, renderer: BootstrapPagination::Rails, :previous_label => t('上一页'), :next_label => t('下一页') %>
          </div>
        <% end %>
      </div><!-- /panel-body -->
      
    </div>
  </div>

  <div class="sidebar col-md-3">
    <%= render "sidebar_for_group_index" %>
  </div>
</div>