<div class="container">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-1">
            <% if @group.logo.present? %>
              <%= link_to image_tag(@group.logo.url(:thumb)),group_path(@group) %>
            <% end %>
          </div>
          <div class="col-md-11">
            <h1 class="panel-title"><%= @group.title %></h1>
          </div>
        </div>  
      </div>  
      <div class="panel-body">

        
        
        <div class="col-md-12">
          创建于<%= @group.created_at %>
          组长：<%= @group.user.display_name %>
          
          <div class="group">
            
            <span class="pull-right">
              <% if current_user && current_user.is_member_of?(@group) %>
                <%= link_to("发言", new_group_post_path(@group), class: "btn btn-default pull-right")%>
                <label class="label label-success"> 群组成员 </label>
                <%= link_to("Quit Group", quit_group_path(@group), method: :post, class: "btn btn-default") %>
              <% else %>
                <label class="label label-warning"> 不是群组成员 </label>
                <%= link_to("Join Group", join_group_path(@group), method: :post, class: "btn btn-default") %>
              <% end %>
            </span>
          </div>
          <p><%= render_group_description(@group) %></p>
        </div>
          <span><%= link_to("最新话题", group_path(@group) ) %></span>/
          <span><%= link_to("热门话题", group_path(@group, :order => "by_hot")) %></span>/
          <span>推荐话题</span>/<span>精华帖</span>
        <hr/>
        <table class="table">
          <thead>
           <tr>
              <th>话题</th>
              <th>作者</th>
              <th>回应</th>
              <th>最后回应</th>
            </tr>
          </thead>
          <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td><%= link_to post.title, group_post_path(@group,post) %></td>
                <td><%= post.user.display_name %></td>
                <td><%= post.created_at %></td>
                <td>
                  <% if (current_user && current_user == post.user) || can_editor? %>
                    <%= link_to("Edit", edit_group_post_path(@group,post), class: "btn btn-sm btn-default")%>
                    <%= link_to("Delete", group_post_path(@group,post),    class: "btn btn-sm btn-default", 
                                method: :delete, data: { confirm: "Are you sure?" } )%>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>


        
      </div>
    </div> 
  </div>    
    
  <div class="sidebar col-md-3">
    <%= render "sidebar_for_group_show" %>
  </div>
</div>        