<div class="col-md-12">
  <div class="group">
    <%= link_to("写文章", new_group_post_path(@group), class: "btn btn-default pull-right")%>
    <% if current_user && current_user == @group.user %>
      <%= link_to("编辑", edit_group_path(@group), class: "btn btn-primary pull-right")%>
    <% end %>
  </div>
  <h2><%= @group.title %></h2>
  <p><%= @group.description %></p>
</div>


<table class="table">
  <thead>
   <tr>
      <th>标题</th>
      <th>发表者</th>
      <th>发表时间</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.user.email %></td>
        <td><%= post.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= will_paginate @posts %>
</div>