<div class="container">
  <%= render "common/flashes" %>
</div>

<div class="container">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-1">
            <% if @group.logo.present? %>
              <%= link_to image_tag(@group.logo.url(:thumb)),group_path(@group) %>
            <% end %>
          </div>
          <div class="col-md-11">
            <h1 class="panel-title">&nbsp;&nbsp;&nbsp;<%= @group.title %></h1>
          </div>
        </div>
      </div>
      <div class="panel-body">


        <div class="col-md-12">
          创建于<%= time_tag(@group.created_at) %>
          组长：<%= @group.user.display_name %>
          <p><%= render_group_description(@group) %></p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <%= link_to("最新话题 ", group_path(@group) ) %> /
        <%= link_to("热门话题", group_path(@group, :order => "by_hot")) %>
        <!-- /<span>推荐话题</span>/<span>精华帖</span> -->
      </div>
      <div class="panel-body">

        <% @posts.each do |post| %>
          <p>
            <%= link_to post.group.title, group_path(post.group) %> · <%= link_to truncate(post.title,:length => 23), group_post_path(post.group,post) %>  <span class="badge"><%= post.post_comments.count %></span>
            <span class="pull-right">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= post.user.display_name %> ·
              <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <%= time_tag(post.created_at) %>
            </span>
          </p>
        <% end %>
        <div class="text-center">
          <%= will_paginate @posts, renderer: BootstrapPagination::Rails, :previous_label => t('上一页'), :next_label => t('下一页') %>
        </div>
      </div>
    </div>
  </div>

  <div class="sidebar col-md-3">
    <%= render "sidebar_for_group_show" %>
  </div>
</div>
