<div class="container">
  <h2>个人资料</h2>


  <%= simple_form_for @user do |f| %>

    <div class="form-group">
      <%= f.input :avatar, :label =>"头像", as: :file %>
      <% if f.object.avatar.present? %>
        <label>
          <%= f.check_box :remove_avatar %> 删除图档
        </label>
        <%= link_to f.object.avatar.filename, f.object.avatar.url, :target => "_blank" %>
      <% end %>
    </div>
    <%= f.input :username, input_html: { style: 'width: 200px; display: inline-block;' }, :label =>"用户名" %>
    
    <%= f.input :summary, as: :text, input_html: { class: "xxlarge", rows: "3" }, :label =>"简介" %>
    

    <div class="form-group">
      <%= f.label "时区" %>
      <%= f.time_zone_select :time_zone %>
    </div>


    
    <%= f.fields_for :profile do |ff| %>

    <div class="form-group">
      <%= ff.label "名称" %>
      <%= ff.text_field :name, :class => "form-control" %>
    </div>

    <%= ff.input :location, input_html: { style: 'width: 200px; display: inline-block;' }, :label =>"城市" %>
    
    <div class="form-group">
      <%= ff.label "生日" %>
      <%= ff.text_field :birthday, :class => "form-control" %>
    </div>



    <div class="form-group">
      <%= ff.label "教育程度" %>
      <%= ff.text_field :education, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= ff.label "毕业学校" %>
      <%= ff.text_field :school, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= ff.label "公司" %>
      <%= ff.text_field :company, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= ff.label "职业" %>
      <%= ff.text_field :occupation, :class => "form-control" %>
    </div>
    
    <div class="form-group">
      <%= ff.label "职位" %>
      <%= ff.text_field :position, :class => "form-control" %>
    </div>
    
    <div class="form-group">
      <%= ff.label "礼品接收地址" %>
      <%= ff.text_field :address, :class => "form-control" %>
    </div>
    
    <div class="form-group">
      <%= ff.label "QQ" %>
      <%= ff.text_field :qq, :class => "form-control" %>
    </div>
    
    <div class="form-group">
      <%= ff.label "Github" %>
      <%= ff.text_field :github, :class => "form-control" %>
    </div>
    
    <div class="form-group">
      <%= ff.label "微博" %>
      <%= ff.text_field :weibo, :class => "form-control" %>
    </div>
    
    <div class="form-group">
      <%= ff.label "微信" %>
      <%= ff.text_field :wechat, :class => "form-control" %>
    </div>  
    
    <div class="form-group">
      <%= ff.label "博客" %>
      <%= ff.text_area :bio, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= ff.label "技能" %>
      <%= ff.text_area :specialty, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= ff.label "个人简介" %>
      <%= ff.text_area :introduce, :class => "form-control" %>
    </div>  
  <% end %>
  
    <div class="form-group">
      <%= f.submit "保存", :class => "btn btn-primary", data: { disable_with: "Submitting..." } %>
    </div>

  <% end %>
</div>

<script>
  $("#user_profile_attributes_birthday").datepicker({ format: "yyyy-mm-dd", language: "<%= I18n.locale %>" });
</script>