<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">我的个人资料</h3>
  </div>
  <div class="panel-body">
    <p>Email: <%= @user.email %></p>
    <p>Timezone: <%= @user.time_zone %></p>
    <p>Birthday: <%= @user.profile.birthday %></p>
    <p>City: <%= @user.profile.location %></p>
    <p>School: <%= @user.profile.school %></p>
    <p>Education: <%= @user.profile.education %></p>
    <p>Company: <%= @user.profile.company %></p>
    <p>Occupation: <%= @user.profile.occupation %></p>
    <p>Position: <%= @user.profile.position %></p>
    <p>Address: <%= @user.profile.address %></p>
    <p>QQ: <%= @user.profile.qq %></p>
    <p>Weibo: <%= @user.profile.weibo %></p>
    <p>Wechat: <%= @user.profile.wechat %></p>
    <p>Bio: <%= simple_format @user.profile.bio %></p>
    <p>Specialty: <%= @user.profile.specialty %></p>
    <p>Introduce: <%= @user.profile.introduce %></p>
  </div>
</div>
