<div class="row search-for-project search-secticon">
  <%= render "meetup_groups/search_bar" %>
</div>

<div class="container">
  <%= render "common/flashes" %>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <% @meetup_groups.each do |meetup_group| %>
          <div class="col-md-3 group-item">
            <div class="meetup-card">
              <% if meetup_group.logo.present? %>
                <%= link_to image_tag(meetup_group.logo.url(:meetup_group_logo)),meetup_group_path(meetup_group), :target => "_blank" %>
              <% else %>
                <img src="https://ww2.sinaimg.cn/large/006tKfTcly1fnt7p9w5h6j306o06owec.jpg" alt="meetu-logo">
              <% end %>

              <div class="meetup-card-title text-center">
                <p><%= link_to(truncate(meetup_group.title,:length => 16),meetup_group_path(meetup_group)) %></p>
              </div>

            </div>
          </div>
        <% end %>

        <div class="text-center">
          <%= will_paginate @meetup_groups, renderer: BootstrapPagination::Rails, :previous_label => t('上一页'), :next_label => t('下一页') %>
        </div>
      </div>
    </div>

    <div class="col-md-3 group-index-sidebar">
      <%= render "sidebar_for_index" %>
    </div>

  </div>


</div>
