<div class="container">
  <div class="row show-content">
    <table class="table">
      <%= render "common/account_menu" %>
    </table>
    
    <div class="col-md-6">
      <table class="table table-hover ">
        <thead>
          <tr>
            <th colspan="5" class="text-center">我创建的小组</th>
          </tr>
          <tr class="warning">
            <th>小组名称</th>
            <th>文章数量</th>
            <th>成员数量</th>
          </tr>
        </thead>

        <tbody>
          <% @groups.each do |group| %>
            <tr>
              <td> <%= link_to(group.title, group_path(group)) %> </td>
              <td> <%= group.posts.count %> </td>
              <td> <%= group.members.count %> </td>
            </tr>
          <% end %>
        </tbody>
        <div class="text-center">
          <%= will_paginate @groups, renderer: BootstrapPagination::Rails, :previous_label => t('上一页'), :next_label => t('下一页') %>
        </div>
      </table>
    </div>

    <div class="col-md-6">
      <table class="table table-hover">
        <thead>
          <tr>
            <th colspan="5" class="text-center">我加入的小组</th>
          </tr>
          <tr class="warning">
            <th>小组名称</th>
            <th>文章数量</th>
            <th>成员数量</th>
          </tr>
        </thead>

        <tbody>
          <% @participated_groups.each do |group| %>
            <tr>
              <td> <%= link_to(group.title, group_path(group)) %> </td>
              <td> <%= group.posts.count %> </td>
              <td> <%= group.members.count %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="text-center">
        <%= will_paginate @participated_groups, renderer: BootstrapPagination::Rails, :previous_label => t('上一页'), :next_label => t('下一页') %>
      </div>
    </div>

  </div>
</div>
