<div class="">
	<ul class="slideshow">
			<li>
				<!-- <h3>轮播图</h3> -->
				<span>轮播图1</span>
			</li>
			<li>
				<span>轮播图2</span>
			</li>
			<li>
				<span>轮播图3</span>
			</li>
			<li>
				<span>轮播图4</span>
			</li>
	</ul>
</div>

<div class="index-search">
 <%= render "search_for_welcome" %>
</div>

<div class="home-tool">
	<%= render "home_tool" %>
</div>

<br>
<div class="container">
	<div class="row">
		<%= render "articles_for_index" %>
	</div>

	<%= render "topics_for_index" %>
	<%= render "groups_for_index" %>
	<%= render "projects_for_index" %>

	<div class="index-ads">
		<a href="/"><img src="https://ww4.sinaimg.cn/large/006tNc79ly1fnxt2eiv23j31kw098tb0.jpg" alt="广告"></a>
	</div>

	<%= render "meetup_groups_for_index" %>
	<%= render "courses_for_index" %>
	<%= render "jobs_for_index" %>

</div>
