<div class="col-sm-2 col-md-offset-1 setting-menu">
  <div class="panel panel-default">
    <ul >
      <li><%= link_to('基本信息', setting_path) %><li>
      <li><%= link_to('详细资料', "#") %><li>
      <li><%= link_to('打赏', "#")  %><li>
      <li><%= link_to('账户设置', account_setting_path)  %><li>
      <li><%= link_to( '登陆密码', password_setting_path)  %><li>
    </ul>
  </div>
</div>