<div class="row">
  <%= render 'menu' %>

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">

        <div class="container">

          <%= simple_form_for @user do |f| %>

            <div class="form-group">
              <%= f.label "简介" %>
              <%= f.text_field :summary, :class => "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label "时区" %>
              <%= f.time_zone_select :time_zone %>
            </div>
          
            <%= f.fields_for :profile do |ff| %>

            <div class="form-group">
              <%= ff.label "城市" %>
              <%= ff.text_field :location, :class => "form-control" %>
            </div>

            <div class="form-group">
              <%= ff.label "生日" %>
              <%= ff.text_field :birthday, :class => "form-control" %>
            </div>

            <div class="form-group">
              <%= ff.label "教育程度" %>
              <%= ff.text_field :education, :class => "form-control" %>
            </div>

            <div class="form-group">
              <%= ff.label "毕业学校" %>
              <%= ff.text_field :school, :class => "form-control" %>
            </div>

            <div class="form-group">
              <%= ff.label "公司" %>
              <%= ff.text_field :company, :class => "form-control" %>
            </div>

            <div class="form-group">
              <%= ff.label "职业" %>
              <%= ff.text_field :occupation, :class => "form-control" %>
            </div>
            
            <div class="form-group">
              <%= ff.label "职位" %>
              <%= ff.text_field :position, :class => "form-control" %>
            </div>
            

            <div class="form-group">
              <%= ff.label "技能" %>
              <%= ff.text_area :specialty, :class => "form-control" %>
            </div>

            <div class="form-group">
              <%= ff.label "个人简介" %>
              <%= ff.text_area :introduce, :class => "form-control" %>
            </div>  
          <% end %>
          
            <div class="form-group">
              <%= f.submit "保存", :class => "btn btn-primary", data: { disable_with: "Submitting..." } %>
            </div>

          <% end %>
          
        </div>

      </div>
    </div>
    </div>
  </div>
</div>

<script>
  $("#user_profile_attributes_birthday").datepicker({ format: "yyyy-mm-dd", language: "<%= I18n.locale %>" });
</script>