<div class="row">
  <%= render 'menu' %>

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= simple_form_for(@user, url: setting_path, html: { method: :put, enctype:  "multipart/form-data" }) do |f| %>

        <div class="row">
          <div class="col-sm-9">
            <%= f.input :username, input_html: { style: 'width: 200px' }, :label =>"用户名" %>
            
            <div class="form-group">
              <%= f.input :avatar, :label =>"头像", as: :file %>
              <% if f.object.avatar.present? %>
                <label>
                  <%= f.check_box :remove_avatar %> 删除图档
                </label>
                <%= link_to f.object.avatar.filename, f.object.avatar.url, :target => "_blank" %>
              <% end %>
            </div>
            
            <%= f.input :summary, as: :text, input_html: { class: "xxlarge", rows: "6" }, :label =>"简介" %>
          </div>
          <div class="col-sm-3">
            <div class="form-group avatar-preview" style="text-align: center;">
              <img src= "<%= render_user_avatar(current_user, 50) %>" style="width:50px; hight:50px; border-radius:50%;">
            </div>
          </div>
        </div>
        <div class="form-actions hide-ios">
          <%= f.submit "Submit", disable_with: "Submiting...", class: "btn btn-primary"%>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>