<div class="row">
  <div class="col-md-1">
    <div class="avatar"><img src= "<%= render_user_avatar(answer.user, 50) %>" style="width:50px; hight:50px; border-radius:50%;"></div>
  </div>
  
  <div class="col-md-11">
    <div class="infos">
      <div class="info">
        <div class="topic-answer-info">
          <span class="">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= answer.user.display_name %> · 
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <%= time_tag(answer.created_at) %>
            <% if answer.user == current_user %>
              <span aria-hidden="true"> <%= link_to(" 删除", topic_answer_path(@topic, answer), method: :delete, data: {
                confirm: "确定删除吗?"}) %>
              </span>  
            <% end %>
          </span>
        </div>  

        <div class="topic-answer-content">
          <p ><%= sanitize answer.content %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr/>      
