<div class="row">
  <div class="col-md-1">
    <div class="avatar"><img src= "<%= render_user_avatar(answer.user, 50) %>" style="width:50px; hight:50px; border-radius:50%;"></div>
  </div>
  
  <div class="col-md-11">
    <div class="infos">
      <div class="info">
        <span class="name">
          <%= answer.user.display_name %>
        </span> ·
        <span class='floor'>#23</span> ·
        <a class="time" href="#"><%= time_tag(answer.created_at) %></a>
        <span class="opts pull-right">
          <% if answer.user == current_user %>
            <%= link_to("删除", topic_answer_path(@topic, answer), method: :delete, data: {
              confirm: "Are you sure?"},class: "btn btn-xs pull-right") %>
          <% end %>
        </span>
        <div class="answer-content">
            <p ><%= sanitize answer.content %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr/>      
