<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">招聘管理</h3>
  </div>
  <div class="panel-body">
    <div class="group">
      <%= link_to("新增招聘信息", new_admin_job_path, class: "btn btn-primary pull-right") %>
    </div>
    
    <p>操作说明：mark</p>
    <hr>
      
    <!-- Table -->
    <div id="admin_jobs">
      <%= form_tag bulk_update_admin_jobs_path, :class => "form-inline" do %>
      
        <table class="table table-hover">
          <thead>
            <tr>
              <th><%= check_box_tag "全选", "1", false, :id => "toggle_all" %></th>
              <td>ID</td>
              <td>招聘信息</td>
              <td>工作地点</td>
              <td>发布方</td>
              <td>截止时间</td>
              <td>更新时间</td>
              <td class="opts">操作</td>
            </tr>
          </thead>
          <tbody>
            <% @jobs.each do |job| %>
              <tr>
                <td>
                  <%= check_box_tag "ids[]", job.id %>
                </td>
                <td><%= job.id %></td>
                <td>
                  <%= render_job_status(job) %>
                  <%= link_to(job.title, admin_job_path(job)) %>
                </td>
                <td><%= job.city %></td>
                <td><%= job.publisher %></td>
                <td><%= job.deadline %></td>
                <td><%= job.updated_at %></td>
                <td>
                  <%= link_to "", edit_admin_job_path(job), class: "fa fa-pencil" %>
                  <%= link_to "", admin_job_path(job), 'data-confirm' => '确定删除?', method: :delete, class: "fa fa-trash" %>
                              
                  <% if job.is_hidden %>

                    <%= link_to("Publish", publish_admin_job_path(job) , :method => :post, :class => "btn btn-xs btn-success") %>
                  <% else %>
                    <%= link_to("Hide", hide_admin_job_path(job), :method => :post,  :class => "btn btn-xs btn-warning") %>
                  <% end %>

                  
                </td>
              </tr>
            <% end %>
          </tbody>
        </table><!-- /Table -->
        <p><%= submit_tag "批次删除", :class => "btn btn-danger", :data => { :confirm => "Are you sure?" } %></p>
      <% end %>
      <div class="text-center">
        <%= will_paginate @jobs, renderer: BootstrapPagination::Rails, :previous_label => t('上一页'), :next_label => t('下一页') %>
      </div>
    </div><!-- /admin_jobs -->
  </div><!-- /panel-body -->
</div>

<script>
  // 这个 javascript 会绑事件在 #toggle_all 核选方块上，来做全选效果
  $("#toggle_all").click(function(){
    if ( $(this).prop("checked") ) {
      $("input[name='ids[]']").prop("checked", true);
    } else {
      $("input[name='ids[]']").prop("checked", false);
    }
  })
</script>