<%= form_for [:admin,@project] do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :ico_start %>
    <%= f.text_field :ico_start, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :ico_end %>
    <%= f.text_field :ico_end, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :ico_url %>
    <%= f.text_field :ico_url, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :website %>
    <%= f.text_field :website, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :slack %>
    <%= f.text_field :slack, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :facebook %>
    <%= f.text_field :facebook, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :telegram %>
    <%= f.text_field :telegram, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :twitter %>
    <%= f.text_field :twitter, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :weibo %>
    <%= f.text_field :weibo, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :github %>
    <%= f.text_field :github, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :whitepaper %>
    <%= f.text_field :whitepaper, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :ico_amount %>
    <%= f.text_field :ico_amount, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :token_amount %>
    <%= f.text_field :token_amount, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :raised_ceiling %>
    <%= f.text_field :raised_ceiling, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :accept_token %>
    <%= f.text_field :accept_token, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :token_type %>
    <%= f.text_field :token_type, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :introduce %>
    <%= f.cktext_area :introduce, ckeditor: { language: 'zh-CN'} %>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", :class => "btn btn-primary" %>
  </div>
<% end %>

<script>
  $("#project_ico_start").datepicker({ format: "yyyy-mm-dd", language: "<%= I18n.locale %>" });
  $("#project_ico_end").datepicker({ format: "yyyy-mm-dd", language: "<%= I18n.locale %>" });
</script>
