<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">项目评级管理</h3>
  </div>
  <div class="panel-body">
    <div class="group">
      <%= link_to("新增项目信息", new_admin_project_path, class: "btn btn-primary pull-right") %>
    </div>

    <p>操作说明：mark</p>
    <hr>

    <!-- Table -->
    <div id="admin_projects">
      <%= form_tag bulk_update_admin_projects_path, :class => "form-inline" do %>

        <table class="table table-hover">
          <thead>
            <tr>
              <th><%= check_box_tag "全选", "1", false, :id => "toggle_all" %></th>
              <td>ID</td>
              <td>项目名称</td>
              <td>ICO开启时间</td>
              <td>ICO截止时间</td>
              <td>官网</td>
              <td>提交人</td>
              <td class="opts">管理操作</td>
            </tr>
          </thead>
          <tbody>
            <% @projects.each do |project| %>
              <tr>
                <td>
                  <%= check_box_tag "ids[]", project.id %>
                </td>
                <td><%= project.id %></td>
                <td><%= t(project.status, :scope => "project.status") %><%= link_to(project.title, admin_project_path(project)) %></td>
                <td><%= project.ico_start %></td>
                <td><%= project.ico_end %></td>
                <td><%= project.website %></td>
                <td><%= project.user.email %></td>
                <td>
                  <%= link_to '', edit_admin_project_path(project), class: "fa fa-pencil" %>
                  <%= link_to '', admin_project_path(project), 'data-confirm' => '确认删除?' , method: :delete, class: "fa fa-trash" %>

                  <%= link_to "评级", edit_admin_project_project_grade_path(project), :class => "btn btn-xs btn-success" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table><!-- /Table -->
        <p><%= submit_tag "批次删除", :class => "btn btn-danger", :data => { :confirm => "Are you sure?" } %></p>
      <% end %>
      <div class="text-center">
        <%= will_paginate @projects, renderer: BootstrapPagination::Rails, :previous_label => t('上一页'), :next_label => t('下一页') %>
      </div>
    </div><!-- /admin_projects -->
  </div><!-- /panel-body -->
</div>

<script>
  // 这个 javascript 会绑事件在 #toggle_all 核选方块上，来做全选效果
  $("#toggle_all").click(function(){
    if ( $(this).prop("checked") ) {
      $("input[name='ids[]']").prop("checked", true);
    } else {
      $("input[name='ids[]']").prop("checked", false);
    }
  })
</script>
