<div class="container">
  <%= render "common/flashes" %>
</div>

<div class="container">
  <div class="row show-content">
    <table class="table">
      <%= render "common/account_menu" %>
    </table>
    <div class="col-md-6">
      <table class="table table-hover ">
        <thead>
          <tr>
            <th colspan="4" class="text-center">我发布的话题</th>
          </tr>
          <tr class="warning">
            <th>话题</th>
            <th>话题类别</th>
            <th>评论数量</th>

          </tr>
        </thead>

        <tbody>
          <% @topics.each do |topic| %>
            <tr>
              <td> <%= link_to(topic.title, topic_path(topic)) %> </td>
              <td> <%= topic.node.name %> </td>
              <td> <%= topic.answers.count %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="text-center">
        <%= will_paginate @topics, renderer: BootstrapPagination::Rails, :previous_label => t('上一页'), :next_label => t('下一页') %>
      </div>
    </div>

    <div class="col-md-6">
      <table class="table table-hover">
        <thead>
          <tr>
            <th colspan="5" class="text-center">我收藏的话题</th>
          </tr>
          <tr class="warning">
            <th>话题</th>
            <th>话题类别</th>
            <th>评论数量</th>

          </tr>
        </thead>

        <tbody>
          <% @liked_topics.each do |topic| %>
            <tr>
              <td> <%= link_to(topic.title, topic_path(topic)) %> </td>
              <td> <%= topic.node.name %> </td>
              <td> <%= topic.answers.count %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="text-center">
        <%= will_paginate @liked_topics, renderer: BootstrapPagination::Rails, :previous_label => t('上一页'), :next_label => t('下一页') %>
      </div>
    </div>

  </div>
</div>
