<div class="container">
  <div class="row show-content">
    <table class="table">
      <%= render "common/account_menu" %>
    </table>
    <div class="col-md-6">
      <div class="alert alert-warning">用于通知以及寄送礼品/奖品(其他用户不可见)</div>

      <%= simple_form_for @user do |f| %>

        <%= f.fields_for :profile do |ff| %>

          <div class="form-group">
            <%= ff.label "真实姓名" %>
            <%= ff.text_field :name, :class => "form-control" %>
          </div>

          <%= ff.input :location, input_html: { style: 'width: 200px; display: inline-block;' }, :label =>"城市" %>

          <div class="form-group">
            <%= ff.label "生日" %>
            <%= ff.text_field :birthday, :class => "form-control" %>
          </div>

          <div class="form-group">
            <%= ff.label "教育程度" %>
            <%= ff.text_field :education, :class => "form-control" %>
          </div>

          <div class="form-group">
            <%= ff.label "毕业学校" %>
            <%= ff.text_field :school, :class => "form-control" %>
          </div>

          <div class="form-group">
            <%= ff.label "公司" %>
            <%= ff.text_field :company, :class => "form-control" %>
          </div>

          <div class="form-group">
            <%= ff.label "职业" %>
            <%= ff.text_field :occupation, :class => "form-control" %>
          </div>

          <div class="form-group">
            <%= ff.label "职位" %>
            <%= ff.text_field :position, :class => "form-control" %>
          </div>

          <div class="alert alert-warning">以下信息用于通知以及寄送礼品/奖品(其他用户不可见)</div>
          <div class="form-group">
            <%= ff.label "礼品接收地址" %>
            <%= ff.text_field :address, :class => "form-control" %>
          </div>

          <div class="form-group">
            <%= ff.label "QQ号" %>
            <%= ff.text_field :qq, :class => "form-control" %>
          </div>

          <div class="form-group">
            <%= ff.label "Github" %>
            <%= ff.text_field :github, :class => "form-control" %>
          </div>

          <div class="form-group">
            <%= ff.label "微博" %>
            <%= ff.text_field :weibo, :class => "form-control" %>
          </div>

          <div class="form-group">
            <%= ff.label "微信" %>
            <%= ff.text_field :wechat, :class => "form-control" %>
          </div>

          <div class="form-group">
            <%= ff.label "博客" %>
            <%= ff.text_area :bio, :class => "form-control" %>
          </div>

          <div class="form-group">
            <%= ff.label "技能" %>
            <%= ff.text_area :specialty, :class => "form-control" %>
          </div>

          <div class="form-group">
            <%= ff.label "个人简介" %>
            <%= ff.text_area :introduce, :class => "form-control" %>
          </div>
        <% end %>


        <div class="form-group">
          <%= f.submit "更新信息", :class => "btn btn-success", data: { disable_with: "Submitting..." } %>
        </div>

      <% end %>

    </div>
  </div>
</div>

<script>
  $("#user_profile_attributes_birthday").datepicker({ format: "yyyy-mm-dd", language: "<%= I18n.locale %>" });
</script>
