<h2>Edit User Profile</h2>
<%= form_for @profile, :url => admin_user_profile_path(@user) do |f| %>

  <div class="form-group">
    <%= f.label "名称" %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "生日" %>
    <%= f.date_field :birthday, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "城市" %>
    <%= f.text_field :location, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "教育程度" %>
    <%= f.text_field :education, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "毕业学校" %>
    <%= f.text_field :school, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "公司" %>
    <%= f.text_field :company, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "职业" %>
    <%= f.text_field :occupation, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label "职位" %>
    <%= f.text_field :position, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label "礼品接收地址" %>
    <%= f.text_field :address, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label "QQ" %>
    <%= f.text_field :qq, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label "Github" %>
    <%= f.text_field :github, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label "微博" %>
    <%= f.text_field :weibo, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label "微信" %>
    <%= f.text_field :wechat, :class => "form-control" %>
  </div>  
  
  <div class="form-group">
    <%= f.label "博客" %>
    <%= f.text_area :bio, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "技能" %>
    <%= f.text_area :specialty, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "个人简介" %>
    <%= f.text_area :introduce, :class => "form-control" %>
  </div>  

  <div class="form-group">
    <%= f.submit "提交", :class => "btn btn-primary" %>
  </div>

<% end %>
