<h1>后台</h1>
<ul class="nav navbar-nav navbar-left">
  <li class="active"><%= link_to('网站分类', admin_site_nodes_path) %></li>
  <li ><%= link_to('官方文章', admin_official_articles_path) %></li>
  <li ><%= link_to('文章分类', admin_article_categories_path) %></li>
  <li ><%= link_to('小组管理', admin_article_categories_path) %></li>
  <li ><%= link_to('课程管理', admin_courses_path) %></li>
  <li ><%= link_to('招聘管理', admin_jobs_path) %></li>
  <li ><%= link_to('项目管理', admin_projects_path) %></li>
  <li ><%= link_to('Topics管理', admin_topics_path) %></li>
  <li ><%= link_to('版本控制', admin_versions_path) %></li>
  <li ><%= link_to('sections管理', admin_sections_path) %></li>
  <li ><%= link_to('nodes管理', admin_nodes_path) %></li>

  <% if current_user.is_super_admin? %>
    <li ><%= link_to('用户管理', admin_users_path) %></li>
  <% end %>

</ul>