<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">课程列表</h3>
  </div>
  <div class="panel-body">
    
    <%= render "courses/search_bar" %>
      
    <p>尚未完成：mark</p>
    <p>课程这部分不准备自己建立课程系统，只是作为宣传页面。建议使用其他第三方平台，第三方平台的浏览更大。</p>
    <p>这里只是介绍这些课程，放上介绍、课程二维码或者链接即可。</p>
    <hr>
      
    <!-- Table -->
    <div id="index_courses">    
        <table class="table table-hover">
          <thead>
            <tr>
              <td>#</td>
              <td>课程</td>
              <td>原价</td>
              <td>现价</td>
              <td>更新时间</td>
            </tr>
          </thead>
          <tbody>
            <% @courses.each do |course| %>
              <tr>
                <td><%= course.id %></td>
                <td><%= link_to(course.title, course_path(course)) %></td>
                <td><%= course.msrp %></td>
                <td><%= course.price %></td>
                <td><%= course.updated_at %></td>
              </tr>
            <% end %>
          </tbody>
        </table><!-- /Table -->
      <div class="text-center">
        <%= will_paginate @courses, renderer: BootstrapPagination::Rails, :previous_label => t('上一页'), :next_label => t('下一页') %>
      </div>
    </div><!-- /index_courses -->
  </div><!-- /panel-body -->
</div>
