<div class="row search-for-topic search-secticon">
  <%= render "courses/search_bar" %>
</div>

<div class="container">
  <%= render "common/flashes" %>
</div>

<div class="container">
  <div class="col-md-9 group-index-box">
    <div class="row">
      <% @courses.each do |course| %>
        <div class="col-md-3 group-item">
          <div class="course-card">
            <% if course.logo.present? %>
              <%= link_to image_tag(course.logo.url(:medium)),course_path(course), :target => "_blank" %>
            <% else %>
              <img src="https://ww2.sinaimg.cn/large/006tKfTcly1fnt7p9w5h6j306o06owec.jpg" alt="course_logo">
            <% end %>

            <div class="course-card-title text-center">
              <p style="overflow:hidden;"><%= link_to(truncate(course.title,:length => 16),course_path(course)) %></p>
            </div>

          </div>
        </div>
        <br>
      <% end %>

      <div class="text-center">
        <%= will_paginate @courses, renderer: BootstrapPagination::Rails, :previous_label => t('上一页'), :next_label => t('下一页') %>
      </div>
    </div>
  </div>
  <div class="col-md-3 group-index-sidebar">
    <%= render "sidebar_for_index" %>
  </div>

</div>
