<div class="row cc-course">
  <div class="col-md-9">
    <div class="show-content">
      <div class="heading">
        <h1 class="title"><%= link_to(@course.title, course_path(@course)) %></h1>  
      </div>
      
      <hr/>

      <div class="row">
        <div class="col-md-2">
          <p>原价：</p>
        </div>

        <div class="col-md-10">
          <%= @course.msrp %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <p>现价：</p>
        </div>

        <div class="col-md-10">
          <%= @course.price %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <p>前往学习：</p>
        </div>

        <div class="col-md-10">
          <%= @course.url %>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-2">
          <p>讲师介绍</p>
        </div>

        <div class="col-md-10">
          <%= sanitize @course.lecturer %>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-2">
          <p>课程介绍</p>
        </div>

        <div class="col-md-10">
            <%= sanitize @course.introduce %>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-2">
          <p>最后更新时间：</p>
        </div>

        <div class="col-md-10">
          <%= @course.updated_at %>
        </div>
      </div>
      
    </div>

  </div>

  <div class="col-md-3">
    <% if current_user.is_editor? %>
      <div class="side-content course-admin">
        <h4>管理操作</h4>
        <hr>
        <%= link_to("更新课程", edit_admin_course_path(@course), class: "btn btn-default")%> &nbsp; &nbsp;
        <%= link_to("删除课程", admin_course_path(@course),    class: "btn btn-default", 
                    method: :delete, data: { confirm: "Are you sure?" } )%> 
      </div>
    <% end %>
    <div class="side-content course-admin">
      <h4>更多课程</h4>
      <hr>
      <%= link_to("课程列表", courses_path, class: "btn btn-default")%>
    </div>
    <div class="side-content course-admin">
      <h4>课程推荐</h4>
      <hr>
      <p>Mark</p>
    </div>
  </div>
</div>
