<div class="container">
  <%= render "common/flashes" %>
</div>

<div class="container">
  <div class="row show-page">

      <ol class="row breadcrumb">
        <li><a href="<%= root_path %>">首页</a></li>
        <li><a href="<%= courses_path %>">课程列表</a></li>
        <li class="active"><%= @course.title %></li>
      </ol>
    <!-- Start of product card -->
    <div class="row card">
      <!-- Start of left card -->
      <div class="preview col-md-7 " style="">
        <div class="preview-pic tab-content" >
          <% if @course.logo.present? %>
            <%= link_to image_tag(@course.logo.url(:medium)), @course.logo.url, :target => "_blank" %>
          <% end %>
        </div>
      </div>
      <!-- End of left card -->
      <!-- Start of right cart -->
      <div class="details col-md-5" style="margin-top:50px;">
        <h3 class="product-title"><%= link_to(@course.title, course_path(@course)) %></h3>
        <div class="price-service">
          <p class="price">原价 <span class="rmb">￥ </span><span class="msrp"><%= @course.msrp %></span> 元</p>
          <p class="price">现价 <span class="rmb">￥ </span><span class="price"><%= @course.price %></span> 元</p>
          <p class="service">服务 <span class="service-detail"> 赠送QYB | 支持重复学习 | 讲师答疑</span></p>
        </div>
        <div class="quantity-size">
          <p class="delivery">其他 <span class="delivery">电子产品，不支持退款</span></p>
        </div>
        <div class="action">
          <div class="col-md-10" >
            <a class="add-to-cart btn btn-block" href="<%= @course.url %>" role="button">立即报名</a>
          </div>
          <div class="col-md-2"  >

             <%= link_to "#", :class => "like btn btn-default",method: :post do %>
               <i class="fa fa-heart fa-lg"></i>
             <% end %>

          </div>

        </div>
        <div class="row share">
          <hr />
          <div class="col-md-6">
              <p> 收藏人气（3） </p>
          </div>

          <div class="col-md-6">
            <%= link_to '#', method: :put do %>
              <div class="pi-thumbs-up">
                <!-- <i class="fa fa-thumbs-up fa-2x" , style="color:#ff5722;"></i> -->
                点赞（5）
              </div>
            <% end %>
          </div>
        </div>
        <div class="row share">
          <div class="col-md-6 ">
              <p><i class="fa fa-share-alt" aria-hidden="true"></i> 分享 </p>
          </div>
          <div class="col-md-6" style="margin-left:-40px;">
            <%= social_share_button_tag(@course.title) %><!-- 社交分享 -->
          </div>
        </div>
      </div><!-- End of left card -->
    </div><!-- End of product card -->

    <!-- Start of product description & reviews -->
    <div class="row course_description">
      <div class="tabs" >
        <div class="tabbable-panel">
          <div class="tabbable-line">
            <ul class="nav nav-tabs">
              <li role="presentation" class="active">
                <a href="#tab_default_1" data-toggle="tab">课程详情</a>
              </li>
              <li>
                <a href="#tab_default_2" data-toggle="tab">课程评价 <span class="badge"><%= @course.course_comments.size %></span> </a>
              </li>
            </ul>
            <br />
            <div class="tab-content container">
              <div class="tab-pane active" id="tab_default_1">
                <p class="product-description2 text-center">讲师介绍</p>
                <div class="container">
                  <p class="product-description"><%= sanitize @course.lecturer %></p>
                </div>
                 <p class="product-description2 text-center">课程介绍</p>
                  <!--商品大图展示 -->
                 <div class="container">
                    <p class="product-description"><%= sanitize @course.introduce %></p>
                 </div>

                 <p class="faq-title text-center">常见问题</p>
                 <div class="faq container">
                   <p class="question">大讲堂说明</p>
                   <p class="answer">1. 区块链研习社大讲堂只提供相关课程介绍，具体课程问题请联系相应课程平台。</p>
                   <p class="question">如何申请退货？</p>
                   <p class="answer">
                     1. 电子产品，一经付款不支持退款；<br />
                   </p>
                   <p class="question">如何开具发票？</p>
                   <p class="answer">1. 区块链研习社大讲堂只提供相关课程介绍，如需开具发票，请联系具体课程平台。</p>
                 </div>
              </div><!-- End of tab_default_1 -->

              <div class="tab-pane" id="tab_default_2">
                <%= render "course_comment" %>
              </div><!-- End of tab_default_2 -->
            </div><!-- End of tab-content -->
          </div><!-- End of tabbable-line -->
        </div><!-- End of tabbable-panel -->
      </div><!-- End of tabs -->
    </div><!-- End of product description & reviews -->
  </div><!-- End of product show page -->
</div>
