<div class="panel panel-default">
  <div class="panel-body">
    <!-- 头像 -->
    <div class="text-center">
      <div class="avatar-80">
        <div class="avatar-group-index">
          <img src= "<%= render_user_avatar(@post.user, 80) %>">
        </div>
      </div>
    </div>
    <!-- 用户名 -->
    <div class="article-username text-center">
      <%= @post.user.display_name %>
    </div>
    
    <!-- 简介 -->
    <div class="article-author-summary">
      <%= simple_format(@post.user.summary) %>
      
    </div>

  </div>
</div>


<div class="panel panel-default">
  <div class="panel-body">
    <a href="#" class="btn btn-block btn-sm btn-move-page" data-type="top"><i class="fa fa-arrow-up"></i></a>
    <br>
    
    <div class="row text-center">

      <% if current_user && current_user.is_favor_of_post?(@post) %>
        <%= link_to unfavorite_group_post_path(@group,@post), method: :post, class: "btn favorite-btn" do %>
          <i class="fa fa-heart fa-lg"></i>
        <% end %>   
      <% else %>    
        <%= link_to favorite_group_post_path(@group,@post), method: :post, class: "btn favorite-btn " do %>
          <i class="fa fa-heart-o fa-lg"></i>
        <% end %>        
      <% end %>             
     <p><span><%= @post.favors.count %></span> 个赞</p>

    </div>
  
    <hr/>
  
    <div class="post-share text-center">
      <%= social_share_button_tag(@post.title) %><!-- 社交分享 -->
    </div>
  
    <hr />
    <div class="reply-buttons">
      <div class="total text-center">
        共收到 <b>7</b> 条回复
      </div>
    </div>
    
    <% if current_user && current_user == @post.user %>
      <hr/>
      <div class="post-admin text-center">
        <label class="label label-success"> <%= link_to("更新文章", edit_group_post_path(@group,@post))%></label> 
        <label class="label label-danger"><%= link_to("删除文章", group_post_path(@group,@post), 
                        method: :delete, data: { confirm: "Are you sure?" } )%></label> 
      </div>                  
    <% end %>
    
    
    <br>
    <a href="#" class="btn btn-block btn-move-page" data-type="bottom"><i class="fa fa-arrow-down"></i></a>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">小组信息</div>
  <ul class="list-group">
    <li class="list-group-item">小组名称：<%= link_to(truncate(@post.group.title,:length => 16), group_path(@group)) %></li>
    <li class="list-group-item">小组成员: <%= Group.count %> 人</li>
    <li class="list-group-item">帖子数: <%= @group.posts.count %> 条</li>
    <li class="list-group-item">
      <span class="">
        <% if current_user && current_user.is_member_of?(@post.group) %>
          <label class="label label-success"> 我是小组成员 </label>
          
          <% if (current_user && current_user != @post.group.user) && current_user.is_member_of?(@post.group) %>
            &nbsp;&nbsp;<label class="label label-danger"><%= link_to("退出小组", quit_group_path(@group), method: :post) %></label>
          <% end %>
          
        <% else %>
          <label class="label label-danger"> 不是小组成员 </label>
          &nbsp;&nbsp;<label class="label label-success"><%= link_to("加入小组", join_group_path(@post.group), method: :post) %></label>
        <% end %>
      </span>
    </li>
  </ul>
</div>


<div class="panel panel-default">
  <div class="panel-heading">广告位</div>
  <div class="panel-body ads-image-css">
    <img src= "https://ww4.sinaimg.cn/large/006tKfTcly1fnt6b3yncgj30ik0t8dhw.jpg" >
  </div>
</div>