<div class="container">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-11">
            <h3 class="panel-title"><%= @post.title %></h3>
          </div>
          
          <div class="col-md-1">
            <div class="avatar pull-right"><img src= "<%= render_user_avatar(@post.user, 50) %>" style="width:50px; hight:50px; border-radius:50%;"></div>
          </div>
        </div>
        <p>本文由 <%= @post.user.display_name %> · 发布于<%= @post.created_at %> · 最后由XX回复于天前 · 1281次阅读</p>
      </div>
      <div class="panel-body">
        
        <div class="col-md-12">
          <div class="group">  
            <% if current_user && current_user == @post.user %>
              <%= link_to("更新文章", edit_group_post_path(@group,@post), class: "btn btn-primary pull-right")%>
            <% end %>
          </div>
          <div class="article-content">
            <%= simple_format(@post.content) %>
          </div>
          <br>


        </div>
        
      </div>
    </div> 
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><%= @post.post_comments.count %> 个回复</h4>
      </div>
      <div class="panel-body">
        <div >
          <%= render @post.post_comments %>
        </div>      
      </div>
    </div>
    
    <%= render "post_comments/form"%>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">相关话题</h3>
      </div>
      <div class="panel-body">
      <p>推荐5个相似话题</p>
      </div>
    </div>  
    
  </div>    
    
  <div class="sidebar col-md-3">
    <%= render "sidebar_for_post_show" %>
  </div>
</div>  