<div class="row search-for-project search-secticon">
  <%= render "sites/search_bar" %>
</div>

<div class="container">
  <%= render "common/flashes" %>
</div>

<div class="container">
  <div class="col-md-9">

    <div id="site_nodes" class="site-body" >
      <% @site_nodes.each do |node| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="site-node">
              <h4><%= node.name %><span class="pull-right"><%= link_to "更多", site_node_path(node), target: "_blank" %></span></h4>
            </div>
            <hr>

            <% node.sites.each do |site| %>
              <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="<%= site.description %>">
                <%= link_to site.name, site.url, target: "_blank" %>
              </button>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-3">
    <%= render "sidebar_for_site_index" %>
  </div>
</div>
