
  <div class="row">
    <% if current_page?('/') %>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
    <% else %>
      <nav class="navbar navbar-default navbar-fixed-top show_bgcolor" role="navigation">
    <% end %>
        <div class="container ">
            <!-- 后期采用app-navbar 样式-->
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img src='<%= image_url 'logo.png' %>' >Chain Club</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li><%= link_to("社区", topics_path) %></li>
                    <li><%= link_to("资讯", official_articles_path) %></li>
                    <li><%= link_to("小组", groups_path) %></li>
                    <li><%= link_to("大讲堂", courses_path) %></li>
                    <li><%= link_to("项目评级", projects_path) %></li>
                    <li><%= link_to("活动", meetup_groups_path) %></li>
                    <li><%= link_to("机会", jobs_path) %></li>
                    <li><%= link_to("导航", sites_path) %></li>
                                    

                    <li class="dropdown mega-dropdown">
                    <a href="<%= sites_path %>" class="dropdown-toggle" data-toggle="dropdown">推广 <span class="caret"></span></a>				
                    <ul class="dropdown-menu mega-dropdown-menu">
                    <li class="col-sm-3">
                      <ul>
                      <li class="dropdown-header">Features</li>
                      <li><a href="#">Auto Carousel</a></li>
                                    <li><a href="#">Carousel Control</a></li>
                                    <li><a href="#">Left & Right Navigation</a></li>
                      <li><a href="#">Four Columns Grid</a></li>
                      <li class="divider"></li>
                      <li class="dropdown-header">Fonts</li>
                                    <li><a href="#">Glyphicon</a></li>
                      <li><a href="#">Google Fonts</a></li>
                    </ul>
                    </li>
                    <li class="col-sm-3">
                    <ul>
                      <li class="dropdown-header">Plus</li>
                      <li><a href="#">Navbar Inverse</a></li>
                      <li><a href="#">Pull Right Elements</a></li>
                      <li><a href="#">Coloured Headers</a></li>                            
                      <li><a href="#">Primary Buttons & Default</a></li>							
                    </ul>
                    </li>
                    <li class="col-sm-3">
                    <ul>
                      <li class="dropdown-header">Much more</li>
                                    <li><a href="#">Easy to Customize</a></li>
                      <li><a href="#">Calls to action</a></li>
                      <li><a href="#">Custom Fonts</a></li>
                      <li><a href="#">Slide down on Hover</a></li>                         
                    </ul>
                    </li>
                            <li class="col-sm-3">
                      <ul>
                      <li class="dropdown-header">广告</li>                            
                                    <div id="womenCollection" class="carousel slide" data-ride="carousel">
                                      <div class="carousel-inner">
                                        <div class="item active">
                                            <a href="#"><img src="http://placehold.it/254x150/3498db/f5f5f5/&text=New+Collection" class="img-responsive" alt="product 1"></a>
                                            <h4><small>Summer dress floral prints</small></h4>                                        
                                            <button class="btn btn-primary" type="button">49,99 €</button> <button href="#" class="btn btn-default" type="button"><span class="glyphicon glyphicon-heart"></span> Add to Wishlist</button>       
                                        </div><!-- End Item -->
                                        <div class="item">
                                            <a href="#"><img src="http://placehold.it/254x150/ff3546/f5f5f5/&text=New+Collection" class="img-responsive" alt="product 2"></a>
                                            <h4><small>Gold sandals with shiny touch</small></h4>                                        
                                            <button class="btn btn-primary" type="button">9,99 €</button> <button href="#" class="btn btn-default" type="button"><span class="glyphicon glyphicon-heart"></span> Add to Wishlist</button>        
                                        </div><!-- End Item -->
                                        <div class="item">
                                            <a href="#"><img src="http://placehold.it/254x150/2ecc71/f5f5f5/&text=New+Collection" class="img-responsive" alt="product 3"></a>
                                            <h4><small>Denin jacket stamped</small></h4>                                        
                                            <button class="btn btn-primary" type="button">49,99 €</button> <button href="#" class="btn btn-default" type="button"><span class="glyphicon glyphicon-heart"></span> Add to Wishlist</button>      
                                        </div><!-- End Item -->                                
                                      </div><!-- End Carousel Inner -->
                                      <!-- Controls -->
                                      <a class="left carousel-control" href="#womenCollection" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                      </a>
                                      <a class="right carousel-control" href="#womenCollection" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                      </a>
                                    </div><!-- /.carousel -->
                                    <li class="divider"></li>
                                    <li><a href="<%= sites_path %>">全部网址 <span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
                    </ul>
                    </li>
                    </ul>				
                    </li>
                    
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <% if !current_user %>
                    <li><%= link_to("注册", new_user_registration_path) %> </li>
                    <li><%= link_to("登入", new_user_session_path) %></li>
                    <% else %>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu" aria-haspopup="true" aria-expanded="false">
                          <img src= "<%= render_user_avatar(current_user, 20) %>" style="width:20px; hight:20px; border-radius:50%;"><%= t( "hello", :name => current_user.display_name ) %>
                          <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                          
                          <% if current_user.is_editor? %>
                            <li><%= link_to("后台管理", admin_root_path) %></li>
                          <% end %>
                          <li><%= link_to('我的个人资料', user_path) %></li>
                          <li><%= link_to('个人资料设置', setting_path) %></li>
                          <li><%= link_to('修改个人资料', edit_user_path) %></li>
                          <li role="separator" class="divider"></li>
                          <li> <%= link_to("My Groups", account_groups_path) %></li>
                          <li> <%= link_to("My Posts", account_posts_path) %></li>
                          <li class="divider"> </li>

                          <li><%= link_to(content_tag(:i,"退出", class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %></li>
                        </ul>
                      </li>
                    <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-->
    </nav>
  </div>
