<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Chain Club</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><%= link_to("小组", groups_path) %></li>
                <li><%= link_to("问达", topics_path) %></li>
                <li><%= link_to("大讲堂", "#") %></li>
                <li><%= link_to("项目评级", "#") %></li>
                <li><%= link_to("活动", meetup_groups_path) %></li>
                <li><%= link_to("机会", "#") %></li>
                <li><%= link_to("书籍", "#") %></li>
                <li><%= link_to("常用工具", "#") %></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <% if !current_user %>
                  <li><%= link_to("注册", new_user_registration_path) %> </li>
                  <li><%= link_to("登录", new_user_session_path) %></li>
                <% else %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Hi!, <%= current_user.email %>
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li><a href="#">Action</a></li>
                      <li role="separator" class="divider"></li>
                      <li><%= link_to("备用", "#") %></li>
                      <li><%= link_to(content_tag(:i,"退出", class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %></li>
                    </ul>
                  </li>
                <% end %>                
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-->
</nav>
