<!DOCTYPE html>
<html>
  <head>
    <title>ChainClub后台 —— Long Bitcoin,Short the World!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>

  </head>

  <body  id="<%= "#{controller_name}-#{action_name}"%>">

    <%= render "admin/common/navbar" %>

    <div class="row main-content">


      <div class="container">
        <%= render "common/flashes" %>
       <div class="mail-box">

          <aside class="sm-side">
              <div class="user-head">
                  <a class="inbox-avatar" href="javascript:;">
                    <img width="64" hieght="60" src= "<%= render_user_avatar(current_user, 20) %>">
                  </a>
                  <div class="user-name">
                      <h5><a href="#">你好，<%= current_user.display_name %></a></h5>
                      <span><a href="#"><%= t(current_user.role) %></a></span>
                  </div>
                  <a class="mail-dropdown pull-right" href="javascript:;">
                      <i class="fa fa-chevron-down"></i>
                  </a>
              </div>
              <div class="inbox-body">
                  <a href="#myModal" data-toggle="modal"  title="Compose"    class="btn btn-compose">
                      留言
                  </a>
                  <!-- Modal -->
                  <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display: none;">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                  <h4 class="modal-title">Compose</h4>
                              </div>
                              <div class="modal-body">
                                  <form role="form" class="form-horizontal">
                                      <div class="form-group">
                                          <label class="col-lg-2 control-label">To</label>
                                          <div class="col-lg-10">
                                              <input type="text" placeholder="" id="inputEmail1" class="form-control">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-lg-2 control-label">Cc / Bcc</label>
                                          <div class="col-lg-10">
                                              <input type="text" placeholder="" id="cc" class="form-control">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-lg-2 control-label">Subject</label>
                                          <div class="col-lg-10">
                                              <input type="text" placeholder="" id="inputPassword1" class="form-control">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-lg-2 control-label">Message</label>
                                          <div class="col-lg-10">
                                              <textarea rows="10" cols="30" class="form-control" id="" name=""></textarea>
                                          </div>
                                      </div>

                                      <div class="form-group">
                                          <div class="col-lg-offset-2 col-lg-10">
                                              <span class="btn green fileinput-button">
                                                <i class="fa fa-plus fa fa-white"></i>
                                                <span>Attachment</span>
                                                <input type="file" name="files[]" multiple="">
                                              </span>
                                              <button class="btn btn-send" type="submit">Send</button>
                                          </div>
                                      </div>
                                  </form>
                              </div>
                          </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                  </div><!-- /.modal -->
              </div>


              <ul class="nav nav-pills nav-stacked labels-info inbox-divider">
                  <li> <h4>官方文章</h4> </li>
                  <li> <a href="<%= admin_article_categories_path %>"><i class="fa fa-folder"></i> 文章分类 </a> </li>
                  <li> <a href="<%= admin_official_articles_path %>"><i class="fa fa-inbox"></i> 官方文章管理 </a></li>
              </ul>
              <ul class="nav nav-pills nav-stacked labels-info inbox-divider">
                  <li> <h4>社区管理</h4> </li>
                  <li> <a href="<%= admin_sections_path %>"> <i class="fa fa-folder"></i> 话题一级分类 </a> </li>
                  <li> <a href="<%= admin_nodes_path %>"> <i class="fa fa-folder-open"></i> 子节点管理 </a> </li>
                  <li> <a href="<%= admin_topics_path %>"> <i class="fa fa-comments-o"></i> 话题管理 </a> </li>
              </ul>
              <ul class="nav nav-pills nav-stacked labels-info inbox-divider">
                  <li> <h4>网址导航</h4> </li>
                  <li> <a href="<%= admin_site_nodes_path %>"> <i class="fa fa-calendar"></i> 网址分类 </a> </li>
                  <li> <a href="<%= admin_sites_path %>"> <i class="fa fa-flag"></i> 网址管理 </a> </li>
              </ul>

              <ul class="inbox-nav inbox-divider">
                  <li>
                      <a href="<%= admin_article_categories_path %>"><i class="fa fa-users"></i> 小组管理</a>
                  </li>
                  <li>
                      <a href="<%= admin_courses_path %>"><i class="fa fa-graduation-cap"></i> 课程管理 <span class="label label-info pull-right">30</span></a>
                  </li>
                  <li>
                      <a href="<%= admin_jobs_path %>"><i class="fa fa-address-book-o"></i> 招聘管理</a>
                  </li>
                  <li>
                      <a href="<%= admin_projects_path %>"><i class="fa fa-list"></i> 项目管理</a>
                  </li>
                  <li>
                      <a href="<%= admin_versions_path %>"><i class="fa fa-exclamation-triangle"></i> 版本控制</a>
                  </li>
                  <% if current_user.is_super_admin? %>
                    <li>
                        <a href="<%= admin_users_path %>"><i class="fa fa-user-circle-o"></i> 用户管理</a>
                    </li>
                  <% end %>
              </ul>

              <ul class="nav nav-pills nav-stacked labels-info ">
                  <li> <h4>后台管理指南</h4> </li>
                  <li> <a href="#"> <i class=" fa fa-circle text-success"></i>最新通知<p>管理组通知</p></a>  </li>
                  <li> <a href="#"> <i class=" fa fa-circle text-danger"></i>重要提示<p>重要提示信息</p></a> </li>
                  <li> <a href="#"> <i class=" fa fa-circle text-muted "></i>操作规范 <p>后者管理操作规范</p></a></li>
              </ul>

              <div class="inbox-body text-center">
                  <div class="btn-group">
                      <a class="btn mini btn-primary" href="javascript:;">
                          <i class="fa fa-plus"></i>
                      </a>
                  </div>
                  <div class="btn-group">
                      <a class="btn mini btn-success" href="javascript:;">
                          <i class="fa fa-phone"></i>
                      </a>
                  </div>
                  <div class="btn-group">
                      <a class="btn mini btn-info" href="javascript:;">
                          <i class="fa fa-cog"></i>
                      </a>
                  </div>
              </div>

          </aside>
          <aside class="lg-side">
              <div class="inbox-head">
                  <h3>后台管理</h3>
                  <form action="#" class="pull-right position">
                    <div class="input-append">
                        <button  class="btn sr-btn" type="button"><a href="<%= root_path %>"><i class="fa fa-search"></i>返回前台</a></button>
                    </div>
                  </form>
              </div>
              <div class="inbox-body">
                <%= yield %>
              </div>
          </aside>
      </div>

      </div>

    </div>

    <%= render "common/footer" %>
  </body>
</html>
