<!DOCTYPE html>
<html>
    <head>
        <%= csrf_meta_tags %>
        <%= render_page_title_tag %>
        <%= render_page_description_meta_tag %>
        <%= render_page_keywords_meta_tag %>
        
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
        <link rel="shortcut icon" href="images/favicon.ico">

    </head>

    <body id="<%= "#{controller_name}-#{action_name}"%>">
      
        <%= render "common/navbar" %>

        <div class="row  main-content">
          <%= yield %>          
        </div>

        <%= render "common/footer" %>

    </body>
</html>
