<!DOCTYPE html>
<html>
    <head>
        <title>ChainClub</title>
        <%= csrf_meta_tags %>
        
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
        
        
    </head>

    <body id="<%= "#{controller_name}-#{action_name}"%>">

        <%= render "common/navbar" %>
        <div class="container  main-content">
            
            <%= render "common/flashes" %>
            
            <%= yield %>

        </div>

        <%= render "common/footer" %>

    </body>
</html>

