<!DOCTYPE html>
<html>
    <head>
        <title>ChainClub —— 区块链研习社，有态度的区块链GPS，为你导航！</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
        <link rel="shortcut icon" href="images/favicon.ico">

    </head>

    <body id="<%= "#{controller_name}-#{action_name}"%>">

        <%= render "common/navbar" %>
        <div class="row  main-content">
            <div class="container">
              <%= render "common/flashes" %>
            </div>
            <%= yield %>

        </div>

        <%= render "common/footer" %>

    </body>
</html>
