<div id="site" class="panel panel-primary">
  <div class="panel-heading">提交网站</div>
  <div class="panel-body">
    <%= simple_form_for [:admin,@site] do |f| %>
      <div class="form-group">
        <%= f.association :site_node , :label =>"选择网站类别" %>
        <%= f.input :name, input_html: { class: "form-control"}, :label =>"网站名称"  %>
        <%= f.input :url, input_html: { class: "form-control" }, placeholder: "http://", :label =>"网址"   %>
        <%= f.input :description, as: :text, input_html: { class: "form-control" } , :label =>"简单介绍" %>
      </div>
      <%= f.submit "提交", class: "btn btn-primary", data: { disable_with: "Submiting..." } %>
    <% end %>
  </div>
</div>