<div id="site_nodes">
  <div class="panel panel-default">
    <div class="panel-heading">网址导航管理</div>
    <div class="panel-body">
      <%= link_to("新增网址", new_admin_site_path, class: "btn btn-primary pull-right") %>
    </div>
    
    <!-- Table -->
    <div id="admin_sites">
      <table class="table table-hover">
        <thead>
          <tr>
            <td>#</td>
            <td>站点名称</td>
            <td>网址</td>
            <td>介绍</td>
            <td>分类</td>
            <td class="opts">操作</td>
          </tr>
        </thead>
        <tbody>
          <% @sites.each do |site| %>
            <tr>
              <td><%= site.id %></td>
              <td><%= site.name %></td>
              <td><%= site.url %></td>
              <td><%= site.description %></td>
              <td><%= site.site_node.name %></td>
              <td>
                <% if current_user %>
                  <%= link_to("Edit", edit_admin_site_path(site), class: "btn btn-sm btn-default")%>
                  <%= link_to("Delete", admin_site_path(site),    class: "btn btn-sm btn-default", 
                              method: :delete, data: { confirm: "Are you sure?" } )%>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="text-center">
      <%= will_paginate @sites %>
    </div>

  </div>
</div>
